{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    }
    
    .form-group {
    margin-bottom: 15px;
    }
    
    /* Các thẻ chính */
    h3 {
    margin-top: 0;
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    p {
    margin-top: 20px;
    }
    
    a {
    color: #4CAF50;
    }
    
    /* Responsive */
    @media screen and (max-width: 480px) {
    .form-container {
      max-width: 100%;
    }
    }
</style>
<section class="form-container">
    <div class="row">
       <form action="{% url 'RoomRentalTicket' %}" method="POST">
          <h3>Rental Form</h3>
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="send" name="send" class="btn">
       </form>
    </div>
 </section>
{% endblock content %}