{% extends 'base.html' %}
{% block content %}
<style>
  /* Các lớp chính */
  .form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Form Group Styles */
.form-group {
  margin-bottom: 20px;
}

/* Heading Styles */
h3 {
  margin-top: 0;
  color: #333;
}

/* Label Styles */
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

/* Input Styles */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Submit Button Styles */
input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Paragraph Styles */
p {
  margin-top: 20px;
  color: #777;
}

/* Link Styles */
a {
  color: #4CAF50;
  text-decoration: none;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .form-container {
    max-width: 100%;
    margin: 30px auto;
  }
} 
</style>
  <h2>Chỉnh sửa phòng</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="file" name="images" multiple>
    <div class="preview-container"></div>
    <button type="submit">Lưu</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
    $('input[name="images"]').on('change', function() {
      var fileList = this.files;
      var previewContainer = $('.preview-container'); 
  

      previewContainer.empty();
  

      for (var i = 0; i < fileList.length; i++) {
        var imageSrc = URL.createObjectURL(fileList[i]);
        var imageElement = $('<img>').attr('src', imageSrc).addClass('preview-image');
        previewContainer.append(imageElement);
      }
    });
  });
$(document).ready(function() {

  $('#id_Name_Room').on('input', function() {
    var nameRoom = $(this).val();
    var slug = slugify(nameRoom);
    $('#id_slug').val(slug);
  });


  function slugify(text) {
    text = text.toLowerCase().trim();
    text = text.replace(/[^a-z0-9-]/g, '-');
    text = text.replace(/-+/g, '-');
    return text;
  }
});

</script>
  
{% endblock %}
